/* style.css */
body {
    background-color: #f5f5f5; /* Fondo ligeramente gris */
}

/* Colores de las tarjetas */
.indicator-card .card-header {
    font-weight: bold;
    font-size: 0.9em;
}

/* Ajuste de la tipografía para el título principal */
.text-primary {
    color: #0056B3 !important; /* Azul UBA Institucional */
}